.nav-icons {
    background-color: rgb(1, 155, 155);
    text-align: right;
    position: relative;
}

.badge-icon {
    position: absolute;
    top: 2px;
    right: 41px;
    overflow: visible;
}

white-image {
    color: white;
}

h1, h2, h3, .footer-text {
    background-color: rgb(1, 155, 155);
}


h1 {
    /* Margin top removes the gap between the nav icons and the header */
    margin-top: 0;
    
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-bottom: 0;
}

h2 {
    
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 0;
    padding: 10px;
}

h3 {
    
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 20;
    margin-bottom: 0;
    padding: 5px;
}

.footer-text {
    
    font-size: 15px;
    text-align: center;
    color: rgb(251, 251, 252);
    margin-top: 0;
    padding: 5px;
}

.header-image {
    display: inline-block;
}

/* Flipping the image across the Y-axis */
#image-reverse {
    transform: scaleX(-1);
}

body {
    background-color: rgb(224, 245, 250);
}

button {
    cursor: pointer;
}

/* Login CSS */
.login-menu {
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.card-header {
    background-color: rgb(1, 93, 155);
    padding: 12px;
    border-radius: 12px 12px 12px 12px;
    font-size: 22px;
    
}



/* Login Card Box */
.card-login {
  /* Width and margin here centered my div/card */
  width: 300px;
  margin: 0 auto;
  border-radius: 12px;
  background: rgb(89, 194, 194);
  color: white;
  padding: 20px;
}

/* Regular Card Box */
.card {
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  background: rgba(107, 4, 4, 0.863);
  color: white;
  position: relative;
  margin: 100px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 20px;
}

.card-button {
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 600;

    background-color: rgb(53, 110, 148);
    color: white;

    border: 2px solid rgb(5, 73, 117);
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}


#top-button {
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 600;

    background-color: rgb(132, 188, 226);
    color: white;

    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
}

img {
    border-radius: 12px 12px 12px 12px;
}


/* Login Page CSS Options */
.login-text {
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 300;
    width: 100px;

    background-color: rgb(71, 151, 204);
    color: white;

    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Adding a border to the button */
#login-button {
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 300;

    background-color: rgb(53, 110, 148);
    color: white;

    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;

}

/* Adding the button hover component */
#login-button:hover, #top-button:hover, .card-button:hover {
    background-color: rgb(71, 151, 204);
    border: 1px solid white;
    border-width: 2px;
    border-radius: 8px;
}

.failed {
    color: red;
    font-size: 20px;
    font-weight: 700;
}

.cart-items {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

/* Final Cart Menu List of items */
.cart-card {
  /* Width and margin here centered my div/card */
  width: 300px;
  margin: 0 auto;
  border-radius: 12px;
  position: relative;
  color: white;
  padding: 20px;
}

/* Hyperlink a tag css */
a {
    text-decoration: none;
    color: white;
}

/* Add an id for the link to Stevie's video since it is on a lighter background */
#stevie-video {
    color: blue;
}

/* Adding the before element to add the book emoji before the link to watch Stevie's process video */
#stevie-video::before {
  content: "📘";
  margin-right: 8px;
}

/* Add an active style to the Purchase button at the end of the html website chain */
/* These are the button features that aren't configured properly */
/* Don't have a way to add something to a cart, or purchase, etc. */
/* This is the styling for when the login buttons are being clicked */
#login-button:active {
    color: red;
    background-color: white;
}